.products__section {
  display: flex;
  flex-direction: column;
  flex: 8 3 75%;
}

.product__header {
  display: flex;
  flex-grow: 1;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  border-bottom: 0.1rem solid var(--border-color);
}

.product__title {
  font-size: 1.6rem;
  font-weight: 600;
}

.product__sort {
  display: flex;
  padding-right: 2rem;
  font-size: 1.4rem;
}

.sort__select {
  margin-left: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: var(--primary-green);
}
