/* Sub-header Navigation */
.sub-header {
  display: flex;
  justify-content: center;
  height: 6rem;
  flex-wrap: wrap;
  border-bottom: 0.1rem solid var(--border-color);
  background-color: white;
}

.sub-header__category {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  height: 4rem;
  padding: 2rem;
  margin: 1rem 4rem 1rem 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: none;
}

.sub-header__category--item {
  font-size: 1.4rem;
  color: rgb(137, 136, 136);
  cursor: pointer;
}