/* root variables */
:root{
  --border-color: rgba(127, 125, 125, 0.188);
  --letter-space: 0.08rem;
  --offer-color: #538cee;
  --primary-light-green: rgb(235, 255, 239);
  --primary-green: rgb(12, 131, 31);
  --subtitle-black: rgb(144, 142, 142);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  /* font-family: 'Okra', Helvetica; */
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  color: rgb(31, 31, 31);
  line-height: 1.5;
  text-decoration-thickness: 1.2px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}
button:hover{
  cursor: pointer;
}