/* Logo container */
.logo-container {
  display: flex;
  border-right: 0.1rem solid var(--border-color);
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.logo-container img {
  height: 3rem;
  width: auto;
}
